canvas {
  display: block;
}

html {
      font-family: Georgia;
    margin: 0;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  
}
#leaderboard{
    display: none;
    position: absolute;
    width: 800px; 
    margin-top:50px;
    background: black;
    color: #00ffe6; 
    padding: 5px;
    border: solid 2px #00ffe6; 
    float: left;
    height: 1500px;
}

#hide {
  color: #fa96c8;
  height: 50px;
  font-style: bold;
  text-align: center;
}

h2 {
  text-align: center;
  display: block;
  color: #fa96c8;
}

.container td a {
  text-align: center;
  display:block;
  color: #00ffe6; 
  text-decoration: none;
  height:100%;

}

td a:hover {
background-color: #00ffe6;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
      text-align: center;
}

.container td {
      height:100%;
	  font-weight: bold;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
  display: table;
  
  padding: 0 0 8em 0;
}

.container td, .container th {
      text-align: center;
      
       
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;  
  height:100%;
   
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
  height:100%;
  
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #fa96c8; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #00ffe6;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #1d8a80 -1px 1px, #1d8a80 -2px 2px, #1d8a80 -3px 3px, #1d8a80 -4px 4px, #1d8a80 -5px 5px, #1d8a80 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.6s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

